.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articlesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 28px;
}

.articles {
    display: flex;
    flex-direction: column;
}

.letterContainer {
    border: 1px solid #EEEEFF;
    width: 384px;
    height: 182px;
    border-radius: 5px;
}
