.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: #F8F8FF;
    padding: 80px 0 80px 0;

}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputs{
    padding-left: 20px; 
    outline: none;
    border: none;

    width: 600px;
    height: 70px;

    background-color: #FFFFFF;
    border-color: 1px solid  #EAEAEA;

    font-weight: 400;
    font-size: 18px;    
    color: #7C7C8A;
}

.inputMessage {

    display: flex;
    flex-direction: column;


    padding: 19px 24px 19px 24px;
    outline: none;
    border: none;

    width: 600px;
    height: 150px;

    background-color: #FFFFFF;
    border-color: 1px solid  #EAEAEA;

    font-weight: 400;
    font-size: 18px;
    line-height: 21.1px;
    color: #7C7C8A;
}

.formContainer button {
    width: 592px;
    height: 47px;
    border-radius: 4px;
    border: none;
    background-color: #846AFF;
    color: #FFFFFF;


    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center; 



}

.formContainer button:hover {
    transform:scale(1.1);
    transition: 0.5s;
}